.bg-custom {
    background-color: #E20074;
}

.btn-custom {
    background-color: #E20074;
    border-color: #E20074;
    color: white;
}

.btn-custom:hover {
    background-color: white;
    border-color: #E20074;
    color: #E20074;
}

form{
    margin: 5%;
}