<div class="banner bg-custom text-white py-3">
    <div class="container text-center">
        <h1>CR creation</h1>
    </div>
</div>

<div id="basicInfoPDFContent" style="display: none;">
    <!-- Render the form data in a visually appealing manner -->
    <h2>Form Data:</h2>
    <p><strong>feature:</strong> {{ formData.feature }}</p>
    <p><strong>featureDocumentation:</strong> {{ formData.featureDocumentation }}</p>
    <!-- ... additional form data -->
</div>
<div id="businessJustificationsPDFContent" style="display: none;">
    <!-- Render the form data in a visually appealing manner -->
    <h2>Form Data:</h2>
    <p><strong>feature:</strong> {{ formData.feature }}</p>
    <p><strong>featureDocumentation:</strong> {{ formData.featureDocumentation }}</p>
    <!-- ... additional form data -->
</div>

<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">Basic Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2">Business Justifications</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="tab1">
            <app-basic-info-form></app-basic-info-form>
        </div>

        <!-- Business Justifications -->
        <div class="tab-pane fade" id="tab2">
            <app-business-justification-form></app-business-justification-form>            
        </div>
    </div>
</div>