<!-- <h2>Please enter basic info</h2> -->
<form [formGroup]="basicInfoForm" (ngSubmit)="onBasicInfoSubmit(myDialog)">
  <div class="form-group" *ngFor="let i of questionAndSampleAnswers">
    <label for="">{{ i.question }}</label>
    <input
      type="text"
      class="form-control"
      id="{{ i.attribute }}"
      rows="4"
      formControlName="{{ i.attribute }}"
      placeholder="{{ i.placeholder }}"
    />
  </div>
  <div class="btn-container">
    <button type="submit" class="btn btn-primary">Submit</button>
    <input
      type="button"
      (click)="autoFill()"
      class="btn btn-primary"
      value="Test data"
    />
    <input
      type="button"
      (click)="clearForm()"
      class="btn btn-primary"
      value="clear"
    />
  </div>
</form>

<dialog #myDialog>
  <div class="btn-container">
    <button class="btn btn-primary" (click)="myDialog.close()">OK</button>
    <button class="btn btn-primary" (click)="copy()">{{ copyBtnText }}</button>
  </div>
  <form class="summary">
    <div class="row">
      <div class="col-sm-3"><label for="">feature</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.feature }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"><label for="">featureDocumentation</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.featureDocumentation }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"><label for="">applicationName</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.applicationName }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"><label for="">gitRepo</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.gitRepo }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"><label for="">gitBranch</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.gitBranch }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"><label for="">mergeRequest</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.mergeRequest }}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"><label for="">sis</label></div>
      <div class="col-sm-3">
        <label for="">{{ formData.sis }}</label>
      </div>
    </div>
  </form>
  <div style="margin-top: 5%">{{ formStatus }}</div>
</dialog>
