<form
  [formGroup]="businessJustificationForm"
  (ngSubmit)="onBusinessJustificationsSubmit(myDialog)"
>
  <div class="form-group" *ngFor="let i of questionAndSampleAnswers">
    <label for="">{{ i.question }}</label>
    <textarea
      class="form-control"
      id="{{ i.attribute }}"
      rows="4"
      formControlName="{{ i.attribute }}"
      placeholder="{{ i.placeholder }}"
    ></textarea>
  </div>
  <div class="btn-container">
    <button type="submit" class="btn btn-primary">Submit</button>
    <input
      type="button"
      (click)="autoFill()"
      class="btn btn-primary"
      value="Test data"
    />
    <input
      type="button"
      (click)="clearForm()"
      class="btn btn-primary"
      value="clear"
    />
  </div>
</form>

<dialog #myDialog style="width: 60%; font-size: 12px">
  <div class="btn-container">
    <button class="btn btn-primary" (click)="myDialog.close()">OK</button>
    <button class="btn btn-primary" (click)="copy()">{{copyBtnText}}</button>
  </div>
  <div class="card" *ngFor="let i of questionAndSampleAnswers">
    <div class="card-header">{{ i.question }}</div>
    <div class="card-body">
      {{ formData | dialogForm : i.attribute : formData }}
    </div>
  </div>
  <div>{{ formStatus }}</div>
</dialog>
